<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tu lista de Me Gusta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar 
  debounce="300" 
  animated placeholder="elige un genero"
  (ionChange)="onChange($event)"
  (ionClear)="onClear()"
  [(ngModel)]="inputToSearch"
></ion-searchbar>


  <ion-list *ngFor="let canciones of lista;let indice=index">
    <div *ngIf="lista[indice].mostrar==true">
    <ion-item>
      <img src={{lista[indice].album}} width="50" height="50">
      <ion-label>
        <h2>{{lista[indice].nombre}}</h2>
        <h3>{{lista[indice].autor}}</h3>
      </ion-label>
    </ion-item>
  </div>
  </ion-list>
</ion-content>
